body {
        
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1F1F1F;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    color: #a0a0a0;
    font-family: impact, "Arial Black:, "'Trebuchet MS', sans-serif;
}


html {
    
}

.game {
    text-align: center;;
}

.header {
    ;
}

.gameplay{
    min-height: 500px;
}

#gameplay-image {
}


.footer {
    display: flex;
}

.score-div {
    padding: 45px 0px;
}

.result-div {
    margin-bottom: 20px;
}

.player-choices {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
